<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{site.company.name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">{{site.company.name}}</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    {% for module in site.frontPage.modules %}
      {% if module._type == 'salesPitch' %}
        <section class="home-slider owl-carousel">
          {% for item in module.carousel %}
            <div class="slider-item" style="">
              <div class="overlay"></div>
              <div class="container-fluid">
                <div class="row slider-text align-items-center" data-scrollax-parent="true">
                  <div class="col-md-5 wrap col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4 mt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{item.title}}</h1>
                    <p class="mb-4 mb-md-5 sub-p" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{item.subtitle}}</p>
                    <p><a href="#" class="btn btn-primary p-3 px-xl-5 py-xl-3">Get started</a> <a href="#" class="btn btn-primary btn-primary-2 p-3 px-xl-5 py-xl-3">Read more</a></p>
                  </div>
                  <div class="col-md-7 ftco-animate">
                    <img src="{{item.image}}" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </section>
      {% endif %}

      {% if module._type == 'domainSearch' %}
        <section class="ftco-domain">
          <div class="container">
            <div class="row d-flex">
              <div class="col-lg-5 heading-white mb-4 mb-sm-4 mb-lg-0 ftco-animate">
                <h2>{{module.title}}</h2>
                <p>{{module.subtitle}}</p>
              </div>
              <div class="col-lg-7 ftco-wrap ftco-animate">
                <form action="#" class="domain-form d-flex">
                  <div class="form-group domain-name">
                    <input type="text" class="form-control name px-4" placeholder="Enter your domain name...">
                  </div>
                  <div class="form-group domain-select d-flex">
                    <div class="select-wrap">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="" class="form-control">
                      {% for tld in module.tlds %}
                        <option value="">{{tld.name}}</option>
                      {% endfor %}
                      </select>
                    </div>
                    <input type="submit" class="search-domain btn btn-primary text-center" value="{{module.cta}}">
                  </div>
                </form>
                <p class="domain-price mt-2">
                  {% for tld in module.tlds %}
                    <span><small>{{tld.name}}</small> ${{tld.cost}}</span>
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if module._type == 'stats' %}
        <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
          <div class="container">
            <div class="row justify-content-center mb-5">
              <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">{{module.title}}</span>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  {% for stat in module.stats %}
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                      <div class="block-18 text-center">
                        <div class="text">
                          <strong class="number" data-number="{{stat.number}}">0</strong>
                          <span>{{stat.name}}</span>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>

      {% endif %}
      {% if module._type == 'testimonials' %}
        <section class="ftco-section testimony-section">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4">{{module.title}}</h2>
                <p>{{module.subtitle}}</p>
              </div>
            </div>
            <div class="row ftco-animate">
              <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                  {% for item in module.items %}
                  <div class="item">
                    <div class="testimony-wrap p-4 pb-5">
                      <div class="user-img mb-5" style="background-image: url({{item.image}}?w=150)">
                        <span class="quote d-flex align-items-center justify-content-center">
                          <i class="icon-quote-left"></i>
                        </span>
                      </div>
                      <div class="text">
                        <p class="mb-5">{{item.text}}</p>
                        <p class="name">{{item.name}}</p>
                        <span class="position">{{item.position}}</span>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if module._type == 'pricing' %}
        <section class="ftco-section bg-light">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Pricing Plans</span>
                <h2 class="mb-4">{{module.title}}</h2>
              </div>
            </div>
            <div class="row d-flex">
              <div class="col-lg-3 col-md-6 ftco-animate">
                <div class="block-7">
                  <div class="text-center">
                    <h2 class="heading">Free</h2>
                    <span class="price"><sup>$</sup> <span class="number">0</span></span>
                    <span class="excerpt d-block">100% free. Forever</span>
                    <h3 class="heading-2 mb-3">Enjoy All The Features</h3>
                    
                    <ul class="pricing-text mb-4">
                      <li><strong>150 GB</strong> Bandwidth</li>
                      <li><strong>100 GB</strong> Storage</li>
                      <li><strong>$1.00 / GB</strong> Overages</li>
                      <li>All features</li>
                    </ul>
                    <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Choose Plan</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 ftco-animate">
                <div class="block-7">
                  <div class="text-center">
                    <h2 class="heading">Startup</h2>
                    <span class="price"><sup>$</sup> <span class="number">19</span></span>
                    <span class="excerpt d-block">All features are included</span>
                    <h3 class="heading-2 mb-3">Enjoy All The Features</h3>
                    
                    <ul class="pricing-text mb-4">
                      <li><strong>450 GB</strong> Bandwidth</li>
                      <li><strong>400 GB</strong> Storage</li>
                      <li><strong>$2.00 / GB</strong> Overages</li>
                      <li>All features</li>
                    </ul>
                    <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Choose Plan</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 ftco-animate">
                <div class="block-7">
                  <div class="text-center">
                    <h2 class="heading">Premium</h2>
                    <span class="price"><sup>$</sup> <span class="number">49</span></span>
                    <span class="excerpt d-block">All features are included</span>
                    <h3 class="heading-2 mb-3">Enjoy All The Features</h3>
                    
                    <ul class="pricing-text mb-4">
                      <li><strong>250 GB</strong> Bandwidth</li>
                      <li><strong>200 GB</strong> Storage</li>
                      <li><strong>$5.00 / GB</strong> Overages</li>
                      <li>All features</li>
                    </ul>
                    <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Choose Plan</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 ftco-animate">
                <div class="block-7">
                  <div class="text-center">
                    <h2 class="heading">Pro</h2>
                    <span class="price"><sup>$</sup> <span class="number">99</span></span>
                    <span class="excerpt d-block">All features are included</span>
                    <h3 class="heading-2 mb-3">Enjoy All The Features</h3>
                    
                    <ul class="pricing-text mb-4">
                      <li><strong>450 GB</strong> Bandwidth</li>
                      <li><strong>400 GB</strong> Storage</li>
                      <li><strong>$20.00 / GB</strong> Overages</li>
                      <li>All features</li>
                    </ul>
                    <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Choose Plan</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      {% if module._type == 'customers' %}
        <section class="ftco-section ftco-partner">
          <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4">{{module.title}}</h2>
                <p>{{module.subtitle}}</p>
              </div>
            </div>
            <div class="row">
              {% for logo in module.logos %}
                <div class="col-sm ftco-animate">
                  <a href="#" class="partner"><img src="{{logo.image}}" class="img-fluid" alt="{{logo.name}}"></a>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>

      {% endif %}

    {% endfor %}

    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">WebHost</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Unseful Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Servers</a></li>
                <li><a href="#" class="py-2 d-block">Windos Hosting</a></li>
                <li><a href="#" class="py-2 d-block">Cloud Hosting</a></li>
                <li><a href="#" class="py-2 d-block">OS Servers</a></li>
                <li><a href="#" class="py-2 d-block">Linux Servers</a></li>
                <li><a href="#" class="py-2 d-block">Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Navigational</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">Domain</a></li>
                <li><a href="#" class="py-2 d-block">Hosting</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
                <li><a href="#" class="py-2 d-block">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Office</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">{{site.company.address}}</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{site.company.phone}}</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{site.company.email}}</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>